/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
.DS_Store
Thumbs.db
/database/migrations/*.php
/database/migrations/2019_01_05_293551_add-role-id-to-menu-items-table.php